<h1>New Message</h1>

<%= form_with(model: @message, local: true) do |form| %>
  <div class="field">
    <%= form.label :receiver_id %>
    <%= form.collection_select :receiver_id, User.all, :id, :username %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit 'Send Message' %>
  </div>
<% end %>